.father {
    grid-area: father;
}

.mother {
    grid-area: mother;
}
.main {
    grid-area: main;
}

.children {
    grid-area: children;
    border: 2px solid;
    border-radius: 15px;
}


.wrapper {
    display: grid;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:    "left   father    middle      mother    right"
                            "left   main      main        main      right"
                            "left   children  children    children  right";


    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
}